---
import "./Features.scss";
import { Link } from "../../components/Link/Link";
import Features_light_0 from "./images/Features_light_0.tsx";
import Features_light_1 from "./images/Features_light_1.tsx";
import Features_light_2 from "./images/Features_light_2.tsx";
import Features_dark_0 from "./images/Features_dark_0.tsx";
import Features_dark_1 from "./images/Features_dark_1.tsx";
import Features_dark_2 from "./images/Features_dark_2.tsx";
import getTranslatedContent from "../../utils/directus";

const {lang} = Astro.params;
const content = await getTranslatedContent("Features_Section", lang!);
---

<section id="features" class="features">
    <h2>{content.header}</h2>
    <p>{content.text}</p>
  <div class="features_list">
    <div class="features__feature">
      <div class="features__placeholder"></div>
      <Features_light_0 />
      <Features_dark_0 />
      <div class="features__text">
          <h3>{content.subheader1}</h3>
          <p>{content.details1}</p>
      </div>
    </div>
    <div class="features__feature features__feature--reverse">
      <div class="features__text">
          <h3>{content.subheader2}</h3>
          <p>{content.details2}</p>
      </div>
      <Features_light_1 />
      <Features_dark_1 />
      <div class="features__placeholder"></div>
    </div>
    <div class="features__feature">
      <div class="features__placeholder"></div>
      <Features_light_2 />
      <Features_dark_2 />
      <div class="features__text">
          <h3>{content.subheader3}</h3>
          <p>{content.details3}</p>
      </div>
    </div>
    <Link href="https://scrumlr.io/new" ariaLabel={content.cta} className="features__cta-button">{content.cta}</Link>
    <img
      class="features__bg-line"
      src="/assets/features/features_line-bg_light.svg"
      alt=""
    />
  </div>
</section>
