---
import "./Uniqueness.scss";
import getTranslatedContent from "../../utils/directus";

const {lang} = Astro.params;
const content = await getTranslatedContent("Uniqueness_Section", lang!);
---

<section class="uniqueness__wrapper">
    <h2>{content.header}</h2>
    <p>{content.text}</p>
<div class="uniqueness__section uniqueness__section--left">
  <div class="uniqueness__image">
    <img
      src={`/assets/uniqueness/uniqueness_light_0.webp`}
      class="uniqueness__image-0"
      alt={content.imageAlt1}
    />
  </div>
  <div class="uniqueness__text">
      <h3>{content.subheader1}</h3>
      <p>{content.details1}</p>
    <img
      src={`/assets/uniqueness/dots_light_0.svg`}
      alt=""
      class="uniqueness__section-dots--0"
    />
  </div>
</div>
<div class="uniqueness__section uniqueness__section--right">
  <div class="uniqueness__text">
  <h3>{content.subheader2}</h3>
  <p>{content.details2}</p>
    <img
      src={`/assets/uniqueness/dots_light_1.svg`}
      alt=""
      class="uniqueness__section-dots--1"
    />
  </div>
  <div class="uniqueness__image">
    <img
      src={`/assets/uniqueness/uniqueness_light_1.webp`}
      class="uniqueness__image-1"
      alt={content.imageAlt2}
    />
  </div>
</div>
<div class="uniqueness__section uniqueness__section--left">
  <div class="uniqueness__image">
    <img
      src={`/assets/uniqueness/uniqueness_light_2.webp`}
      class="uniqueness__image-2"
      alt={content.imageAlt3}
    />
  </div>
  <div class="uniqueness__text">
      <h3>{content.subheader3}</h3>
      <p>{content.details3}</p>
    <img
      src={`/assets/uniqueness/dots_light_2.svg`}
      alt=""
      class="uniqueness__section-dots--2"
    />
  </div>
</div>
<div class="uniqueness__section uniqueness__section--right">
  <div class="uniqueness__text">
      <h3>{content.subheader4}</h3>
      <p>{content.details3}</p>
    <img
      src={`/assets/uniqueness/dots_light_3.svg`}
      alt=""
      class="uniqueness__section-dots--3"
    />
  </div>
  <div class="uniqueness__image">
    <img
      src={`/assets/uniqueness/uniqueness_light_3.webp`}
      class="uniqueness__image-3"
      alt={content.imageAlt4}
    />
  </div>
</div>
</section>
