---
import "./Uniqueness.scss";
import getTranslatedContent from "../../utils/directus";

const { lang } = Astro.params;
const content = await getTranslatedContent("Uniqueness_Section", lang!);
---

<section class="uniqueness__wrapper">
  <h2>{content.header}</h2>
  <p>{content.text}</p>
  <div class="uniqueness__section uniqueness__section--left">
    <div class="uniqueness__image">
      <object
        type="image/svg+xml"
        data="/assets/uniqueness/uniqueness_light_0.svg"
        class="uniqueness__image-0"
      />
    </div>
    <div class="uniqueness__text">
      <h3>{content.subheader1}</h3>
      <p>{content.details1}</p>
      <object
        type="image/svg+xml"
        data="/assets/uniqueness/dots_light_0.svg"
        class="uniqueness__section-dots--0"
      />
    </div>
  </div>
  <div class="uniqueness__section uniqueness__section--right">
    <div class="uniqueness__text">
      <h3>{content.subheader2}</h3>
      <p>{content.details2}</p>
      <object
        type="image/svg+xml"
        data="/assets/uniqueness/dots_light_1.svg"
        class="uniqueness__section-dots--1"
      />
    </div>
    <div class="uniqueness__image">
      <object
        type="image/svg+xml"
        data="/assets/uniqueness/uniqueness_light_1.svg"
        class="uniqueness__image-1"
      />
    </div>
  </div>
  <div class="uniqueness__section uniqueness__section--left">
    <div class="uniqueness__image">
      <object
        type="image/svg+xml"
        data="/assets/uniqueness/uniqueness_light_2.svg"
        class="uniqueness__image-2"
      />
    </div>
    <div class="uniqueness__text">
      <h3>{content.subheader3}</h3>
      <p>{content.details3}</p>
      <object
        type="image/svg+xml"
        data="/assets/uniqueness/dots_light_2.svg"
        class="uniqueness__section-dots--2"
      />
    </div>
  </div>
  <div class="uniqueness__section uniqueness__section--right">
    <div class="uniqueness__text">
      <h3>{content.subheader4}</h3>
      <p>{content.details4}</p>
      <object
        type="image/svg+xml"
        data="/assets/uniqueness/dots_light_3.svg"
        class="uniqueness__section-dots--3"
      />
    </div>
    <div class="uniqueness__image">
      <object
        type="image/svg+xml"
        data="/assets/uniqueness/uniqueness_light_3.svg"
        class="uniqueness__image-3"
      />
    </div>
  </div>
</section>
