---
import { Logo } from "../Logo";
import { Link } from "../Link/Link";
import "./Navbar.scss";
import getTranslatedContent from "../../utils/directus";

const {lang} = Astro.params;
const content = await getTranslatedContent("Header", lang!);
---

<nav id="navbar" class="navbar">
  <ul>
    <li>
      <a aria-label="Startseite" href="/">
        <Logo />
      </a>
    </li>
    <li>
        <a href="/#Home">{content.home}</a>
    </li>
    <li>
        <a href="/#Features">{content.features}</a>
    </li>
    <li>
        <a href="/#About">{content.aboutUs}</a>
    </li>
    <li>
      <Link
        href="/new"
        ariaLabel={content.createBoard}
        className="navbar__link"
        >{content.createBoard}</Link>
    </li>
  </ul>
</nav>

<script>
    const navbar = document.querySelector("#navbar");

    function handleScroll() {
        const scrollPosition = window.scrollY;
        if (scrollPosition > 0) {
            console.log(navbar);
            navbar?.classList.add("navbar--opaque");
        } else {
            navbar?.classList.remove("navbar--opaque");
        }
    }

    window.addEventListener("scroll", handleScroll);
</script>
