---
import { Logo } from "../Logo";
import { Plus } from "../../icons/Plus";
import { Link } from "../Link/Link";
import getTranslatedContent from "@utils/directus";
import UserMenu from "@components/UserMenu/UserMenu";
import "./Navbar.scss";

const {lang} = Astro.props;
const content = await getTranslatedContent("Header", lang!);

const userMenuLabels = {
  germanLabel: content.german,
  englishLabel: content.english,
  loginLabel: content.login,
  logoutLabel: content.logout
  };
---

<nav id="navbar" class="navbar">
  <ul>
    <li>
      <a aria-label={content.home} href=`/${lang}`>
        <Logo />
      </a>
    </li>
    <li>
      <a href=`/${lang}#home`>{content.home}</a>
    </li>
    <li>
      <a href=`/${lang}#features`>{content.features}</a>
    </li>
    <li>
      <a href=`/${lang}#about`>{content.aboutUs}</a>
    </li>
    <li>
      <UserMenu client:load {...userMenuLabels} />
      <Link
        href="/new"
        className="navbar__link"
      >
        <span>{content.createBoard}</span>
        <Plus />
      </Link>
    </li>
  </ul>
</nav>

<script>
    function handleScroll() {
      const navbar = document.querySelector("#navbar");
      const scrollPosition = window.scrollY;
      if (scrollPosition > 0) {
        navbar?.classList.add("navbar--opaque");
      } else {
        navbar?.classList.remove("navbar--opaque");
      }
    }

    window.addEventListener("scroll", handleScroll);
</script>
