---
import { Logo } from "../Logo";
import { Plus } from "../../icons/Plus";
import { Link } from "../Link/Link";
import getTranslatedContent from "@utils/directus";
import "./Navbar.scss";

const {lang} = Astro.params;
const content = await getTranslatedContent("Header", lang!);
---

<nav id="navbar" class="navbar">
  <ul>
    <li>
      <a aria-label={content.home} href=`/${lang}`>
        <Logo />
      </a>
    </li>
    <li>
      <a href=`/${lang}#Home`>{content.home}</a>
    </li>
    <li>
      <a href=`/${lang}#Features`>{content.features}</a>
    </li>
    <li>
      <a href=`/${lang}#About`>{content.aboutUs}</a>
    </li>
    <li>
      <Link
        href="https://scrumlr.io/new"
        className="navbar__link"
      >
        <span>{content.createBoard}</span>
        <Plus />
      </Link>
    </li>
  </ul>
</nav>

<script>
    function handleScroll() {
      const navbar = document.querySelector("#navbar");
      const scrollPosition = window.scrollY;
      if (scrollPosition > 0) {
        navbar?.classList.add("navbar--opaque");
      } else {
        navbar?.classList.remove("navbar--opaque");
      }
    }

    window.addEventListener("scroll", handleScroll);
</script>
