---
const {text, image, name, role, company} = Astro.props;
---

<div>
    <p>{text}</p>
    <figure>
        <img src={image} alt={name} />
        <figcaption>
            <span>{name}</span>
            <span>{role}, {company}</span>
        </figcaption>
    </figure>
</div>

<style>
    div {
        height: 330px;
        width: 330px;
        background-color: var(--white);
        border-radius: 16px;
    }

    p {
    }

    figure {
    }

    img {
    }

    figcaption {
        > span:first-child {
        }

        > span:last-child {
        }
    }
</style>
