---
import { ViewTransitions } from "astro:transitions";
import Layout from "./Layout.astro";
import getTranslatedContent from "@utils/directus";
import "./LegalLayout.scss";

const {lang} = Astro.params;
const content = await getTranslatedContent("Legal_Menu", lang!);

const pathname = new URL(Astro.request.url).pathname;

const navItems = [
  {
    href: `/${lang}/data-protection`,
    name: content.privacy,
  },
  {
    href: `/${lang}/cookie-policy`,
    name: content.cookies,
  },
  {
    href: `/${lang}/terms`,
    name: content.terms,
  },
  {
    href: `/${lang}/legal-notice`,
    name: content.legal_notice,
  },
];
---


<Layout title="Scrumlr | Legal Documents">
  <div class="legal">
    <aside>
      <nav>
        {
          navItems.map((item) => (
            <a
              href={item.href}
              class={pathname.includes(item.href) ? "active" : ""}
            >
              {item.name}
            </a>
          ))
        }
      </nav>
      <address>
        <p>{content.providedBy}</p>
        <p>
          inovex GmbH<br />
           Karlsruher Straße 71<br />
           75179 Pforzheim<br />
           {content.germany}<br />
        </p>
        <p>
          {content.ownerMail}<br />
          <a href=`mailto:${content.email}`>{content.email}</a>
        </p>
      </address>
      <p>
      {content.lastUpdate}<br />
      <strong><time>{content.lastUpdateDate}</time></strong>
      </p>
    </aside>
    <section>
      <slot />
    </section>
    <div class="legal_bg"></div>
  </div>
</Layout>
<ViewTransitions />
